<!DOCTYPE html>
<html lang="en">
<head>
    <title>Owlracle - Admin </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Multichain gas price oracle and API for BSC, POLYGON, FANTOM, AVALANCHE and ETHEREUM.">
    <meta name="keywords" content="gas price api, binance smart chain, avalanche, polygon, ethereum, fantom, crypto, ETH, MATIC, FTM, AVAX, BNB, defi, gas, gas fee, gas price, oracle, bsc, gas api">
    <meta name="”robots”" content="index, follow">
    <meta property="og:image" content="https://owlracle.info/img/owl.png">
    <meta property="og:title" content="Owlracle - Multichain Gas Oracle " />
    <meta property="og:url" content="https://owlracle.info/" />
    <meta property="og:description" content="Multichain gas price oracle and API.">
    <meta property="og:site_name" content="owlracle.info">
    <meta name="twitter:image" content="https://owlracle.info/img/owl.png">
    <meta name="twitter:description" content="Multichain gas price oracle and API.">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Owlracle - Multichain Gas Oracle " />
    <meta name="twitter:site" content="https://owlracle.info/" />

    <link rel="shortcut icon" href="img/favicon.ico">
    
    <script type="module" src="js/admin.min.js" defer></script>
    <link rel="stylesheet" href="css/admin.css">
</head>

<body>
    {{> header}}

    <div id="frame">
        <div id="side-menu">
            <div class="item">API requests</div>
        </div>

        <div id="content">
            <h1 id="title">API requests</h1>
            <table id="table"></table>
    
            <div id="chart-container">
                <div id="timeframe-switcher">
                    <button id="tf-M">M</button>
                    <button id="tf-d">D</button>
                    <button id="tf-h">H</button>
                    <button id="tf-m">M</button>
                </div>
                <div id="chart"></div>
            </div>
        </div>
    </div>

    {{> footer}}
</body>

</html>