<!DOCTYPE html>
<html lang="en">
<head>
    <title>Owlracle - Admin </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="robots" content="noindex">

    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="canonical" href="https://owlracle.info">
    
    <script type="module" src="js/admin.min.js" defer></script>
    <link rel="stylesheet" href="css/admin.css">
</head>

<body>
    {{> header}}

    <div id="frame">
        <div id="fog" class="invisible hidden menu">
            <div id="side-menu">
                <div id="requests" class="item">API requests</div>
                <div id="key" class="item">Key check</div>
            </div>
        </div>
        <div id="content">
            <div id="requests" class="menu-content">
                <h1 id="title">API requests</h1>
                <table id="table"></table>
        
                <div id="chart-container">
                    <div id="timeframe-switcher">
                        <button id="tf-M">📅</button>
                        <button id="tf-d">☀️</button>
                        <button id="tf-h" class="active">⌛</button>
                        <button id="tf-m">⏱️</button>
                    </div>
                    <div id="chart"></div>
                    <div id="network-switcher">
                        <button id="ntw-all" class="active">All</button>
                        <button id="ntw-eth"><img src="img/eth.png"></button>
                        <button id="ntw-bsc"><img src="img/bsc.png"></button>
                        <button id="ntw-avax"><img src="img/avax.png"></button>
                        <button id="ntw-poly"><img src="img/poly.png"></button>
                        <button id="ntw-cro"><img src="img/cro.png"></button>
                        <button id="ntw-ftm"><img src="img/ftm.png"></button>
                        <button id="ntw-arb"><img src="img/arb.png"></button>
                        <button id="ntw-aurora"><img src="img/aurora.png"></button>
                        <button id="ntw-movr"><img src="img/movr.png"></button>
                        <button id="ntw-ht"><img src="img/ht.png"></button>
                        <button id="ntw-celo"><img src="img/celo.png"></button>
                        <button id="ntw-one"><img src="img/one.png"></button>
                        <button id="ntw-fuse"><img src="img/fuse.png"></button>
                    </div>
                </div>
            </div>
    
            <div id="key" class="menu-content">
                <h1>Key check</h1>

                <div id="button-container">
                    <input type="text" id="input-wallet" placeholder="ID">
                    <button id="check">Check all</button>
                </div>
                <div id="wallet-table"></div>
            </div>
        </div>

    </div>

    {{> footer}}
</body>

</html>