<!DOCTYPE html>
<html lang="en">
<head>
    <title>Owlracle - Admin </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="robots" content="noindex">

    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="canonical" href="https://owlracle.info">
    
    <script type="module" src="js/admin.min.js" defer></script>
    <link rel="stylesheet" href="css/admin.css">
</head>

<body>
    {{> header}}

    <div id="frame">
        <div id="fog" class="invisible hidden menu">
            <div id="side-menu">
                <div id="requests" class="item">API requests</div>
                <div id="wallets" class="item">Check Wallets</div>
                <div id="credit" class="item">Update Credit</div>
            </div>
        </div>
        <div id="content">
            <div id="requests" class="menu-content">
                <h1 id="title">API requests</h1>
                <table id="table"></table>
        
                <div id="chart-container">
                    <div id="timeframe-switcher">
                        <button id="tf-M">M</button>
                        <button id="tf-d">D</button>
                        <button id="tf-h" class="active">H</button>
                        <button id="tf-m">M</button>
                    </div>
                    <div id="chart"></div>
                    <div id="network-switcher">
                        <button id="ntw-all" class="active">All</button>
                        <button id="ntw-bsc"><img src="img/bsc.png"></button>
                        <button id="ntw-poly"><img src="img/poly.png"></button>
                        <button id="ntw-ftm"><img src="img/ftm.png"></button>
                        <button id="ntw-avax"><img src="img/avax.png"></button>
                        <button id="ntw-eth"><img src="img/eth.png"></button>
                        <button id="ntw-cro"><img src="img/cro.png"></button>
                        <button id="ntw-movr"><img src="img/movr.png"></button>
                    </div>
                </div>
            </div>
    
            <div id="wallets" class="menu-content">
                <h1>Check Wallets</h1>

                <div id="wallet-table"></div>
            </div>

            <div id="credit" class="menu-content">
                <h1>Update Credit</h1>

                <input type="text" id="input-wallet" placeholder="ID or WALLET">
                <div id="button-container">
                    <button id="update">Update all</button>
                    <button id="check">Check all</button>
                </div>
                <div id="page-container">
                    <div class="page" id="left"><i class="fa-solid fa-angle-left"></i></div>
                    <div class="page" id="right"><i class="fa-solid fa-angle-right"></i></div>
                </div>
                <div id="wallet-table"></div>
            </div>
        </div>

    </div>

    {{> footer}}
</body>

</html>