<footer>
    <div class="row">
        <div class="col resources">
            <div class="title">Resources</div>

            <a class="item" href="/status"><i class="fa-solid fa-heart-pulse"></i><span>Oracles' status</span></a>
            <a class="item" href="/links"><i class="fa-solid fa-globe"></i><span>Our network</span></a>
            <a id="explorer" class="item" target="_blank" rel="noopener nofollow"><img alt="block explorer logo" class="icon"><span class="name"></span><span class="gray">(<span class="chain-name"></span> block explorer)</span></a>
            <a class="item" href="https://www.coingecko.com" target="_blank" rel="noopener nofollow"><img src="https://www.coingecko.com/favicon.ico" alt="coingecko logo" class="icon"><span>CoinGecko</span><span class="gray">(Cryptocurrency stats)</span></a>
            <a class="item" href="https://t.me/owlracle" target="_blank" rel="noopener"><i class="fas fa-handshake icon"></i><span><b>Want your project here?</b></span><span class="gray">(Contact us)</span></a>
        </div>
        <div class="col resources">
            <div class="title">Products</div>

            <a class="item" href="/extension"><i class="fa-brands fa-chrome"></i><span>Chrome Extension</span></a>
            <a class="item" href="/extension-edge"><i class="fa-brands fa-edge"></i><span>Edge Extension</span></a>
            <a class="item" href="/telegrambot"><i class="fa-brands fa-telegram"></i><span>Telegram Bot</span></a>
            <a class="item" href="/discordbot"><i class="fa-brands fa-discord"></i><span>Discord Bot</span></a>
            <a class="item" href="/twitterbot"><i class="fa-brands fa-twitter"></i><span>Twitter Bot</span></a>
        </div>
        <div class="col">
            <div class="row title">Community</div>
            <div class="row social">
                <div class="item"><a href="https://github.com/owlracle" target="_blank" aria-label="github" rel="noopener"><i class="fa-brands fa-github"></i></a></div>
                <div class="item"><a href="https://discord.gg/zYS4f8eRbC" target="_blank" aria-label="discord" rel="noopener"><i class="fa-brands fa-discord"></i></a></div>
                <div class="item"><a href="https://t.me/owlracle" target="_blank" aria-label="telegram" rel="noopener"><i class="fa-brands fa-telegram"></i></a></div>
                <div class="item"><a href="https://twitter.com/owlracleapi" target="_blank" aria-label="twitter" rel="noopener"><i class="fa-brands fa-twitter"></i></a></div>
                <div class="item"><a href="https://facebook.com/owlracle" target="_blank" aria-label="facebook" rel="noopener"><i class="fa-brands fa-facebook"></i></a></div>
                <div class="item"><a href="https://medium.com/@owlracleapi" target="_blank" aria-label="medium" rel="noopener"><i class="fa-brands fa-medium"></i></a></div>
            </div>
        </div>
    </div>
    <div id="donate-container" class="row">
        <div id="donate" class="disabled">
            <span>Donate <span class="token"></span> (<span class="chain"></span>):</span>
            <div>
                <span id="wallet"></span>
                <i class="fas fa-qrcode"></i>
            </div>
        </div>
    </div>
</footer>