<header>
    <div class="col">
        <a id="logo" href="/"><img src="img/owl.webp" alt="Owlracle logo"></a>
        <div id="price"><div><span class="token-name"></span>: $<span id="now"></span></div><span id="color" class="green">(<span id="before"></span>%)</span></div>
        <a id="buy-bnb" href="https://www.binance.com/en/register?ref=88450796" target="_blank" rel="noopener"><img
                src="img/binance.ico" alt="binance icon">Buy <span class="token-name"></span></a>
    </div>
    <div class="col">
        <div id="theme"></div>
        <div id="network-btn"><img class="icon" alt="network icon"><span class="name"></span></div>
        <div id="search">
            <input placeholder="Search API key">
            <div id="button-container">
                <button id="api-info" aria-label="Api Search"><i class="fas fa-search"></i></button>
                <button id="drop" aria-label="Api Actions">
                    <i class="fas fa-angle-down"></i>
                    <i class="fas fa-key"></i>
                </button>
            </div>
        </div>
    </div>
</header>