<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{networkName}} Gas Tracker API - Owlracle</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Multichain gas price fee tracker API for BSC, Polygon, Fantom, Avalanche, Ethereum, Moonriver, Cronos, Harmony, Celo, Heco, Fuse, Aurora.">
    <meta name="keywords" content="gas price api, binance smart chain, avalanche, polygon, ethereum, fantom, moonriver, cronos, harmony, celo, heco, fuse, crypto, harmony, heco, celo, fuse, aurora, ETH, MATIC, FTM, AVAX, BNB, MOVR, CRO, HT , defi, gas, gas fee, gas price, oracle, bsc, gas api">
    <meta name="robots" content="index, follow">
    <meta property="og:image" content="https://owlracle.info/img/owl.webp">
    <meta property="og:title" content="Owlracle - Multichain Gas Oracle">
    <meta property="og:url" content="https://owlracle.info">
    <meta property="og:description" content="Multichain gas price fee tracker API for BSC, Polygon, Fantom, Avalanche, Ethereum, Moonriver, Cronos, Harmony, Celo, Heco, Fuse, Aurora.">
    <meta property="og:site_name" content="owlracle.info">
    <meta name="twitter:image" content="https://owlracle.info/img/owl.webp">
    <meta name="twitter:description" content="Multichain gas price fee tracker API for BSC, Polygon, Fantom, Avalanche, Ethereum, Moonriver, Cronos, Harmony, Celo, Heco, Fuse, Aurora.">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Owlracle - Multichain Gas Oracle">
    <meta name="twitter:site" content="https://owlracle.info">

    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="canonical" href="https://owlracle.info">
    
    <script type="module" src="js/index.min.js" defer></script>
    <link rel="stylesheet" href="css/index.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9LPZPG2NBV"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-9LPZPG2NBV');
    </script>
</head>

<body>
    {{> header}}

    <div id="frame">
        <div id="section-1" class="section">
            <div id="splash" class="row">
                <div id="info">
                    <div id="title">
                        <img src="img/owl.webp" alt="Polygon Fantom BSC Ethereum Avalanche Moonriver Cronos Harmony Heco Celo Fuse Aurora Gas price fee tracker API">
                        <h1 id="text">
                            <span>
                                <span class="subtitle" id="network-name">{{networkName}}'s</span>
                                <div id="time-sign"></div>
                            </span>
                            <span id="site-name">OWLRACLE</span>
                            <span class="subtitle">The multichain Gas tracker API</span>
                        </h1>
                    </div>
                    <p>Owlracle provides statistical information about <b>gas prices</b> for multiple chains. We can help you save <b>time</b> and <b>money</b> by suggesting the optimal gas-related values before sending your transactions.</p>
                    <div id="button-container">
                        <a class="button-main" href="/docs"><i class="fa-solid fa-code"></i>Integrate your app</a>
                        <a class="button-main" href="/products"><i class="fa-regular fa-lightbulb"></i>Explore our solutions</a>
                    </div>
                </div>

                <div id="block-anim"></div>
            </div>

            <div class="row">
                <p id="intro">Owlracle says you should pay no more than this for <b>Gas</b> on <span id="chain"></span> network: <a href="#faq-title"><sup><i class="far fa-question-circle"></i></sup></a></p>
                <div id="gas-container"></div>
            </div>

        </div>
        <div id="section-2" class="section">
            <div id="info">
                <h2>Gas Historical Data</h2>
                <p>We also collect and record gas historical data, so you can grasp how congested the network is/was at any given moment.</p>
            </div>
            <div id="chart-container">
                <div class="row">
                    <div id="timeframe-switcher">
                        <button id="tf-10">10m</button>
                        <button id="tf-30">30m</button>
                        <button id="tf-60">1h</button>
                        <button id="tf-120">2h</button>
                        <button id="tf-240">4h</button>
                        <button id="tf-1440">1d</button>
                    </div>
                    <div id="style-switcher">
                        <button id="style-area" title="Change to Area Chart Style"><img src="img/line-chart.png" alt="line chart symbol"></button>
                        <button id="style-candlestick" title="Change to Candlestick Chart Style"><img src="img/candle-chart.png" alt="candlestick chart symbol"></button>
                    </div>
                </div>
                <div id="chart"><i class="fas fa-spin fa-cog"></i></div>
                <div id="toggle-container">
                    <button id="gas"><span class="mark"></span>Gas</button>
                    <button id="token"><span class="mark"></span>Token</button>
                    <button id="fee"><span class="mark"></span>Fee</button>
                </div>
            </div>
        </div>

        <div class="section" id="section-4">
            <div id="content">
                <div id="carousel-container" class="col">
                    <div id="slide">
                        <i class="fa-solid fa-chevron-left left"></i>
                        <i class="fa-solid fa-chevron-right right"></i>
                    </div>
                    <div id="photo-container">
                        <div class="item"><img></div>
                        <div class="item"><img></div>
                        <div class="item active"><img></div>
                        <div class="item"><img></div>
                        <div class="item"><img></div>
                    </div>
                    <div id="bullet-container">
                        <div class="bullet"></div>
                        <div class="bullet"></div>
                        <div class="bullet"></div>
                        <div class="bullet"></div>
                        <div class="bullet"></div>
                    </div>
                </div>
                <div id="info" class="col">
                    <div>
                        <h2>Owlracle Browser Extension</h2>
                        <div id="text">
                            <p>What you would expect, and more:</p>
                            <ul>
                                <li>Gas prices, history, API key lookup. All Owlracle information, just a click away.</li>
                                <li><b>Tx advisor: Automatically receive our gas recommendations right into every Metamask tx confirmation window. You will never need to look and type gas price again.</b></li>
                            </ul>
                        </div>
                    </div>
                    <div id="buttons-container" class="row">
                        <a href="https://chrome.google.com/webstore/detail/owlracle-gas-price-tracke/gnedoldjklhjjhmcfpilokboppbceclh" target="_blank">
                            <div class="browser">
                                <div id="title"><span></span><span></span><span></span></div>
                                <div id="bar">
                                    <i class="fa-solid fa-angle-left"></i>
                                    <i class="fa-solid fa-angle-right"></i>
                                    <i class="fa-solid fa-arrow-rotate-right"></i>
                                    <i class="fa-solid fa-house"></i>
                                    <span id="url"></span>
                                </div>
                                <div id="body"><img src="img/chrome.png"></div>
                            </div>                    
                            <span class="button"><i class="fa-brands fa-chrome"></i>Get from Chrome Web Store</span>
                        </a>
                        <a class="button" href="https://microsoftedge.microsoft.com/addons/detail/owlracle-gas-price-tracke/abfaclffknadhdmfojckfkkcfakcngfd" target="_blank">
                            <div class="browser">
                                <div id="title"><span></span><span></span><span></span></div>
                                <div id="bar">
                                    <i class="fa-solid fa-angle-left"></i>
                                    <i class="fa-solid fa-angle-right"></i>
                                    <i class="fa-solid fa-arrow-rotate-right"></i>
                                    <i class="fa-solid fa-house"></i>
                                    <span id="url"></span>
                                </div>
                                <div id="body"><img src="img/edge.png"></div>
                            </div>                    
                            <span class="button"><i class="fa-brands fa-edge"></i>Get from Microsoft Edge Addons</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="section" id="section-3">
            <div id="content">
                <div id="info" class="col">
                    <div id="box">
                        <h2>Integrate with our API</h2>
                        <p>Use our endpoints when building your app or bot. Never overpay or get stuck transactions again.</p>
                        <div id="button-container">
                            <a class="button-main" href="/docs"><i class="fa-solid fa-book"></i>Read our docs</a>
                        </div>
                    </div>
                </div>
                <div class="col video">
                    <video autoplay muted loop>
                        <source src="img/coding.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>

        <div class="section" id="section-5">
            <div id="content">
                <div id="brands-container">
                    <div class="brand twitter"><i class="fa-brands fa-twitter"></i></div>
                    <div class="brand telegram active"><i class="fa-solid fa-paper-plane"></i></div>
                    <div class="brand discord"><i class="fa-brands fa-discord"></i></div>
                </div>
                <div id="info">
                    <h2>Give it to the Community</h2>
                    <p>Owlracle's bots were designed to empower your DAO or community by providing easy access to our gas endpoint with a simple chat command</p>
                    <div id="box-container">
                        <div class="box twitter">
                            <div id="left"><span><img src="img/owl.png"></span></div>
                            <div id="right">
                                <div id="text">Hey <span class="highlight">@owlracleapi</span>, could you give me ethereum <span class="highlight">#gas</span> prices please</div>
                                <div id="button-container"><button>Tweet</button></div>
                            </div>
                        </div>
                        <div class="box telegram active">
                            <div id="chat"></div>
                            <div id="ui">
                                <div><i class="fa-solid fa-paperclip"></i></div>
                                <div id="text">Invite Owlracle Telegram bot to my group</div>
                                <div><i class="fa-regular fa-face-smile"></i></div>
                                <div id="send"><i class="fa-solid fa-paper-plane"></i></div>
                            </div>
                        </div>
                        <div class="box discord">Invite Discord bot</div>
                    </div>
                </div>
            </div>
        </div>

        <div id="content" class="section">

            <p>If you are a software developer, and want to integrate your application with our gas oracle, you can use our endpoints.</p>
    
            <h2 id="endpoint-gas">Gas fee estimation</h2>
    
            <div id="url-gas" class="url"></div>
    
            <p>Retrieve gas for <b><span class="chain-name"></span></b> network. If you prefer another network, replace <code class="code inline"><span class="chain-symbol"></span></code> for the corresponding network symbol. Check our <a href="#network-btn">header</a> for the supported network list.</p>

            <p>Owlracle scans recent past blocks (<code class="code inline">blocks</code> param) to build an estimative of required gas fee to be paid. It looks for the minimum gas accepted on a transaction for every scanned block (based on the chosen <code class="code inline">percentile</code>). Then it shows you the minimum gas you should pay to be accepted on a percentage of your choice (<code class="code inline">accept</code> param) of those blocks.</p>

            <div id="table-gas"></div>


            <h2>Gas history</h2>

            <div id="url-history" class="url"></div>
    
            <p>Retrieve the price history for gas, token price and fee for <b><span class="chain-name"></span></b> network. If you prefer another network, replace <code class="code inline"><span class="chain-symbol"></span></code> for the corresponding network symbol. Check our <a href="#network-btn">header</a> for the supported network list.</p>

            <p>The API will return an array of <a href="https://www.investopedia.com/terms/c/candlestick.asp" target="_blank" rel="noopener nofollow">candlesticks</a> built from aggregate data of the requested timeframe. The array is ordered from decreasing timestamps.</p>

            <div id="table-history"></div>

    
            <h2 id="api-keys-sec">API keys</h2>
    
            <p>When you access our endpoints, it is reccomended that you use an API key. You can request our data up to <code class="code inline request-limit"></code> times per hour for free. After reaching that limit, you can continue to make requests either waiting a few minutes or using your api credit. You can also make requests without an api key for testing purposes, up to <code class="code inline guest-limit"></code> times per hour.</p>
    
            <h3>Profile window</h3>
    
            <p>You can use the button below or the <a href="#search">header section</a> of this page to create new API keys, get information, logs, update, or even recharge your key should you need to use more than the free limit per hour.</p>
    
            <div id="apikey-container"><button id="manage-apikey" class="button-main"><i class="fas fa-key"></i>Manage API keys</button></div>
            
            <p>Please keep in mind that you should use your API key in your server's code, never in the front-end code, mainly because of these two reasons:
    
            <ul>
                <li>Front-end code is publicly readable, even if obfuscated. Thus, writing your keys in the source-code will EXPOSE them.</li>
                <li>If used in the front-end, every user request will trigger a call to our endpoints. Depending on your app's traffic, that will make your API key consume the free calls per hour quickly, and beyond that your api credit.</li>
            </ul>
                
            <p>You can make your calls to our endpoints in your server code, save the result in a file or database, then every time your users request the information you can send the cached result. Remember to schedule calls to our endpoints at regular intervals to make sure your cached data is always up-to-date.</p>
    
            <h3>API Credit</h3>

            <p>After reaching the free request limit (<code class="code inline request-limit"></code> requests in the last hour), each new request will subtract $<code class="code inline request-cost"></code> USD from your API account.</p>
            
            <p>Any time you want to recharge your API credit, you can use the same <a href="#manage-apikey">Manage API keys</a> button above or the header to open the <a href="?action=recharge">Recharge key</a> tab. You will be asked to connect your wallet using <a href="https://metamask.io/" target="_blank" rel="noopener">Metamask</a> extension. This window will let you transfer to Owlracle's wallet any amount of <span class="token-name"></span> while using the <span class="chain-name"></span> network. The amount transferred will be converted to USD and credited in your account. After the transfer confirmation, our server will update your API credit automatically. Keep in mind that the amount credited may vary depending of the token exchange rate.</p>

            <p id="nav-network"><b>WARNING: Deposits on <span class="chain-name"></span> network will not be credited automatically. You may either make a deposit using the same wallet on another supported network, or <a href="https://discord.gg/bHckPMw3Qu" target="_blank" aria-label="telegram" rel="noopener">reach us on Discord</a> providing your transaction hash.</b></p>
            
    
            <h3>API key information</h3>
    
            <div id="url-keys" class="url"></div>

            <p>Request information about your API key.</p>
    
            <div id="table-keys"></div>

            <h3>API key credit recharge history</h3>
    
            <p>Get information about every api recharge.</p>
    
            <div id="url-credit" class="url"></div>

            <p>On a success, the result will be a JSON containing <code class="code inline">message</code> and <code class="code inline">results</code> fields. The <code class="code inline">results</code> field is an array containing information about each API recharge transaction, where each element is an Object with the following fields:</p>
            
            <div id="table-credit"></div>
    
    
            <h3>API key usage log</h3>
            
            <p>Get information about your API key usage.</p>
    
            <div id="url-logs" class="url"></div>
                    
            <p>You can pass the optional arguments <code class="code inline">fromtime</code> and <code class="code inline">totime</code>to set the time range of your search.</p>
    
            <div id="table-logs"></div>

    
            <h2 id="faq-title">Frequently Asked Questions</h2>
    
            <div id="faq"></div>
    
            <p>Didn't find what you were looking for? <a href="https://discord.gg/zYS4f8eRbC" target="_blank" rel="noopener">Ask us on Discord</a>.</p>
    
        
            <h2>Donations</h2>
    
            <p>If you liked this website, or if you find the public API endpoint useful in any way, please consider <a class="donate-link">buying me a coffee</a>. It helps to pay for the domain, keeps the server running 24/7, and rewards my time. Thank you!</p>
    
            <h2>Feedback</h2>
                    
            <p>Don't want or can't donate. No problem! You can help us by providing your feedback. If there is something wrong,
                missing, or you wish to see here, reach us on our <a href="https://twitter.com/owlracleapi" target="_blank" rel="noopener">Twitter</a> page or <a
                href="https://discord.gg/zYS4f8eRbC" target="_blank" rel="noopener">Discord</a> server.</p>
        </div>

        <!-- <div class="section" id="section-3">
            <div class="col video">
                <video autoplay muted loop>
                    <source src="img/extension.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="col text">
                <div class="box">
                    <h2>Get gas info with Owracle's browser extension</h2>
                    <span>It's fast, easy, and a click away. No need to open the website.</span>
                    <button class="button-main"><i class="fa-brands fa-chrome"></i>Chrome extension</button>
                    <button class="button-main"><i class="fa-brands fa-edge"></i>Edge extension</button>
                </div>
            </div>
        </div> -->

        <!-- <div class="section" id="section-4">
            <div class="col text ;eft">
                <div class="box">
                    <h2>Make Owlracle's bots work for you</h2>
                    <span>Give your community access to Owlracle's tools without the need to leave the conversation.</span>
                    <button class="button-main"><i class="fa-brands fa-discord"></i>Discord Bot</button>
                    <button class="button-main"><i class="fa-brands fa-telegram"></i>Telegram Bot</button>
                    <button class="button-main"><i class="fa-brands fa-twitter"></i>Twitter Bot</button>
                </div>
            </div>
            <div class="col video">
                <img src="img/owl.png">
            </div>
        </div> -->

    {{> footer}}

    <input type="hidden" id="requestcost" class="template-var" value="{{requestcost}}">
    <input type="hidden" id="usagelimit" class="template-var" value="{{usagelimit}}">
    <input type="hidden" id="guestlimit" class="template-var" value="{{guestlimit}}">
    <input type="hidden" id="recaptchakey" class="template-var" value="{{recaptchakey}}">
    <input type="hidden" id="network" class="template-var" value="{{network}}">
    <input type="hidden" id="production" class="template-var" value="{{production}}">
</body>

</html>