<!DOCTYPE html>
<html lang="en">
<head>
    <title>Owlracle - Multichain Gas Price Oracle and API</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Multichain gas price oracle and API for BSC, POLYGON, FANTOM, AVALANCHE and ETHEREUM.">
    <meta name="keywords" content="gas price api, binance smart chain, avalanche, polygon, ethereum, fantom, crypto, ETH, MATIC, FTM, AVAX, BNB, defi, gas, gas fee, gas price, oracle, bsc, gas api">
    <meta name="robots" content="index, follow">
    <meta property="og:image" content="https://owlracle.info/img/owl.webp">
    <meta property="og:title" content="Owlracle - Multichain Gas Oracle">
    <meta property="og:url" content="https://owlracle.info">
    <meta property="og:description" content="Multichain gas price oracle and API for BSC, POLYGON, FANTOM, AVALANCHE and ETHEREUM.">
    <meta property="og:site_name" content="owlracle.info">
    <meta name="twitter:image" content="https://owlracle.info/img/owl.webp">
    <meta name="twitter:description" content="Multichain gas price oracle and API for BSC, POLYGON, FANTOM, AVALANCHE and ETHEREUM.">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Owlracle - Multichain Gas Oracle">
    <meta name="twitter:site" content="https://owlracle.info">

    <link rel="shortcut icon" href="img/favicon.ico">
    
    <link rel="stylesheet" href="css/links.css">
    <script type="module" src="https://kit.fontawesome.com/c1a16f97ec.js" defer></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9LPZPG2NBV"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-9LPZPG2NBV');
    </script>
</head>

<body>
    <div id="frame">
        <h1 id="title">
            <a href="/"><img src="img/owl.webp" alt="Gas Price Estimation API"></a>
            <div>
                <div id="site-name">OWLRACLE</div>
                <div class="subtitle">The multichain Gas Price Oracle</div>
            </div>
        </h1>

        <div id="button-container">
            <a class="item" href="/"><span>Website</span></a>
            <a class="item" href="https://twitter.com/owlracleapi"><i class="fab fa-twitter"></i><span>Twitter</span></a>
            <a class="item" href="https://facebook.com/owlracle"><i class="fab fa-facebook"></i><span>Facebook</span></a>
            <a class="item" href="https://t.me/owlracle"><i class="fab fa-telegram-plane"></i><span>Telegram</span></a>
            <a class="item" href="https://github.com/owlracle"><i class="fab fa-github"></i><span>Github</span></a>
        </div>
    </div>
</body>

</html>