<!DOCTYPE html>
<html lang="en">
<head>
    <title>Multichain gas price fee tracker API 🦉 Owlracle </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Multichain gas price fee tracker API for BSC, Polygon, Fantom, Avalanche, Ethereum, Moonriver, Cronos, Harmony, Celo, Heco, Fuse.">
    <meta name="keywords" content="gas price api, binance smart chain, avalanche, polygon, ethereum, fantom, moonriver, cronos, harmony, celo, heco, fuse, crypto, harmony, heco, celo, fuse, ETH, MATIC, FTM, AVAX, BNB, MOVR, CRO, HT , defi, gas, gas fee, gas price, oracle, bsc, gas api">
    <meta name="robots" content="index, follow">
    <meta property="og:image" content="https://owlracle.info/img/owl.webp">
    <meta property="og:title" content="Owlracle - Multichain Gas Oracle">
    <meta property="og:url" content="https://owlracle.info">
    <meta property="og:description" content="Multichain gas price fee tracker API for BSC, Polygon, Fantom, Avalanche, Ethereum, Moonriver, Cronos, Harmony, Celo, Heco, Fuse.">
    <meta property="og:site_name" content="owlracle.info">
    <meta name="twitter:image" content="https://owlracle.info/img/owl.webp">
    <meta name="twitter:description" content="Multichain gas price fee tracker API for BSC, Polygon, Fantom, Avalanche, Ethereum, Moonriver, Cronos, Harmony, Celo, Heco, Fuse.">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Owlracle - Multichain Gas Oracle">
    <meta name="twitter:site" content="https://owlracle.info">

    <link rel="shortcut icon" href="img/favicon.ico">
    
    <link rel="stylesheet" href="css/links.css">
    <script type="module" src="https://kit.fontawesome.com/c1a16f97ec.js" defer></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9LPZPG2NBV"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-9LPZPG2NBV');
    </script>
</head>

<body>
    <div id="frame">
        <div id="title">
            <img src="img/owl.webp" alt="Polygon Fantom BSC Ethereum Avalanche Moonriver Cronos Harmony Heco Celo Fuse Gas price fee tracker API">
            <h1 id="text">
                <span id="site-name">OWLRACLE</span>
                <span class="subtitle">The multichain Gas tracker API</span>
            </h1>
        </div>

        <div id="button-container">
            <a class="item" href="/"><span>Website</span></a>
            <a class="item" href="https://discord.gg/zYS4f8eRbC" rel="noopener"><i class="fa-brands fa-discord"></i><span>Discord</span></a>
            <a class="item" href="https://t.me/owlracle" rel="noopener"><i class="fa-brands fa-telegram"></i><span>Telegram</span></a>
            <a class="item" href="https://github.com/owlracle" rel="noopener"><i class="fa-brands fa-github"></i><span>Github</span></a>
            <a class="item" href="https://twitter.com/owlracleapi" rel="noopener"><i class="fa-brands fa-twitter"></i><span>Twitter</span></a>
            <a class="item" href="https://facebook.com/owlracle" rel="noopener"><i class="fa-brands fa-facebook"></i><span>Facebook</span></a>
            <a class="item" href="https://medium.com/@owlracleapi" rel="noopener"><i class="fa-brands fa-medium"></i><span>Medium</span></a>
            <a class="item" href="/extension" rel="noopener"><i class="fa-brands fa-chrome"></i><span>Chrome Extension</span></a>
        </div>
    </div>
</body>

</html>