@import "common.less";

#fog .modal {
    &#admin-login {
        .row {
            display: flex;
            justify-content: space-evenly;

            input {
                flex-grow: 1;
            }

            button {
                margin-left: 10px
            }
        }
    }
}